* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2E083D;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
body a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.section-content {
  padding: 0 4.83vw;
  margin-bottom: clamp(30px, 12.08vw, 50px);
}
.section-content .section-header {
  font-size: clamp(16px, 4.83vw, 24px);
  margin-bottom: clamp(14px, 4.83vw, 20px);
  font-weight: 600;
  letter-spacing: 0.03em;
}

.tri-banner {
  display: flex;
  flex-flow: column nowrap;
  gap: 4.83vw;
}
.tri-banner .tri-banner__secondary {
  display: flex;
  flex-flow: column nowrap;
  gap: 4.83vw;
}

.loader-wrapper, .empty-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 324px;
}

.loader {
  width: clamp(36px, 11.59vw, 48px);
  height: clamp(36px, 11.59vw, 48px);
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 100vw;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.empty-wrapper .empty-header {
  font-size: 16px, 4.83vw, 20px;
  font-weight: 600;
  line-height: 1.4;
}
.empty-wrapper .empty-message {
  font-size: clamp(10px, 2.89vw, 14px);
}

.card-slider {
  display: flex;
  padding: 0 0 clamp(16px, 6.28vw, 26px);
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.card-slider .card {
  display: flex;
  flex-direction: column;
  flex: 0 0 clamp(180px, 60vw, 210px);
  scroll-snap-align: start;
  transition: all 0.2s;
}
.card-slider .card:not(:last-child) {
  margin-right: clamp(20px, 7.25vw, 30px);
}
.card-slider::-webkit-scrollbar {
  height: 5px;
}
.card-slider::-webkit-scrollbar-thumb, .card-slider::-webkit-scrollbar-track {
  border-radius: 100vw;
}
.card-slider::-webkit-scrollbar-thumb {
  background: linear-gradient(#FF5C00, #CB2DF0);
}
.card-slider::-webkit-scrollbar-track {
  background: #000;
}

.header {
  background-color: #000;
  padding: 0 4.83vw;
}
.header .navigation {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navigation .logo-wrapper img {
  max-width: clamp(120px, 34.54vw, 143px);
}
.header .navigation .nav-links .link-text {
  font-size: clamp(10px, 2.89vw, 14px);
}

.footer {
  padding-bottom: clamp(16px, 6.28vw, 26px);
  text-align: center;
}
.footer .copyright {
  font-size: clamp(10px, 2.89vw, 14px);
}

#hero-banner {
  padding: 0;
  margin-bottom: clamp(25px, 8.45vw, 35px);
}

@media screen and (min-width: 580px) {
  .section-content {
    padding: 0;
    margin: 0 auto clamp(26px, 2.46vw, 40px);
    max-width: 1620px;
  }
  .section-content .section-header {
    font-size: clamp(20px, 1.6vw, 26px);
    margin-bottom: clamp(26px, 2.46vw, 40px);
  }
  .tri-banner {
    flex-direction: row;
    gap: clamp(10px, 1.85vw, 30px);
  }
  .tri-banner .tri-banner__secondary {
    gap: clamp(10px, 1.85vw, 30px);
  }
  .loader-wrapper, .empty-wrapper {
    height: clamp(393px, 26.73vw, 433px);
  }
  .card-slider {
    padding-bottom: clamp(40px, 4.93vw, 80px);
  }
  .card-slider .card {
    flex-basis: clamp(210px, 60vw, 245px);
  }
  .card-slider .card:not(:last-child) {
    margin-right: clamp(20px, 1.85vw, 30px);
  }
  .card-slider::-webkit-scrollbar {
    height: 9px;
  }
  .card-slider::-webkit-scrollbar-track {
    padding: 3px 0;
  }
  .card-slider-wrapper {
    position: relative;
  }
  .card-slider-wrapper.last-not-visible::after {
    content: " ";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -1px;
    top: 0;
    height: 345px;
    padding: 0 clamp(40px, 4.93vw, 80px);
    background: linear-gradient(to right, transparent, #2E083D);
  }
  .header {
    padding: 0;
  }
  .header .navigation {
    box-sizing: border-box;
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 clamp(20px, 1.85vw, 30px);
    height: 75px;
  }
  .header .navigation .logo-wrapper img {
    max-width: none;
  }
  .header .navigation .nav-links .link-text {
    font-size: clamp(14px, 0.98vw, 16px);
  }
  .main-content {
    padding: 0 20px;
  }
  .footer {
    padding-top: clamp(10px, 0.93vw, 15px);
    padding-bottom: clamp(26px, 4.01vw, 65px);
  }
  .footer .copyright {
    font-size: clamp(14px, 0.98vw, 16px);
  }
  #hero-banner {
    padding: 0;
    margin: clamp(20px, 4.01vw, 65px) auto clamp(30px, 3.09vw, 50px);
  }
}/*# sourceMappingURL=styles.css.map */