// Variables
// Layout Spacing
$breakpoint: 580px;
$container-max-width: 1620px;

// Img Utility Variable
$img-border-radius: 6px;

// Colors
$black: #000;
$purple: #2E083D;
$orange: #FF5C00;
$pink: #CB2DF0;
$white: #fff;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base Styling
body {
    // Background Color
    background-color: $purple;
    
    // Font
    font-family: Arial, Helvetica, sans-serif;
    color: $white;

    // Anchor Tag Base Styling
    a {
        color: inherit;
        text-decoration: none;   
    }
}

// Component Styles
.hide {
    display: none !important;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    border-radius: $img-border-radius;
}

.section-content {
    padding: 0 4.83vw;
    margin-bottom: clamp(30px, 12.08vw, 50px);

    .section-header {
        font-size: clamp(16px, 4.83vw, 24px);
        margin-bottom: clamp(14px, 4.83vw, 20px);
        font-weight: 600;
        letter-spacing: 0.03em;
    }
}

.tri-banner {
    display: flex;
    flex-flow: column nowrap;
    gap: 4.83vw;

    .tri-banner__secondary {
        display: flex;
        flex-flow: column nowrap;
        gap: 4.83vw;
    }
}

.loader-wrapper,.empty-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 324px;
}

.loader {
    width: clamp(36px, 11.59vw, 48px);
    height: clamp(36px, 11.59vw, 48px);
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 100vw;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.empty-wrapper {
    .empty-header {
        font-size: (16px, 4.83vw, 20px);
        font-weight: 600;
        line-height: 1.4;
    }

    .empty-message {
        font-size: clamp(10px, 2.89vw, 14px);
    }
}

.card-slider {
    display: flex;
    padding: 0 0 clamp(16px, 6.28vw, 26px);
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .card {
        display: flex;
        flex-direction: column;
        flex: 0 0 clamp(180px, 60vw, 210px);
        scroll-snap-align: start;
        transition: all 0.2s;

        &:not(:last-child) {
            margin-right: clamp(20px, 7.25vw, 30px);
        }
    }

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-thumb,&::-webkit-scrollbar-track {
        border-radius: 100vw;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient($orange, $pink);
    }

    &::-webkit-scrollbar-track {
        background: $black;
    }
}

// Grouped Section Styles
.header {
    background-color: $black;
    padding: 0 4.83vw;

    .navigation {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-wrapper {
            img {
                max-width: clamp(120px, 34.54vw, 143px);
            }
        }

        .nav-links {
            .link-text {
                font-size: clamp(10px, 2.89vw, 14px);
            }
        }
    }
}

.footer {
    padding-bottom: clamp(16px, 6.28vw, 26px);
    text-align: center;

    .copyright {
        font-size: clamp(10px, 2.89vw, 14px);
    }
}

// Specific Override Styles
#hero-banner {
    padding: 0;
    margin-bottom: clamp(25px, 8.45vw, 35px);
}

// Desktop Override Styles
@media screen and (min-width: $breakpoint) {
    .section-content {
        padding: 0;
        margin: 0 auto clamp(26px, 2.46vw, 40px);
        max-width: $container-max-width;

        .section-header {
            font-size: clamp(20px, 1.6vw, 26px);
            margin-bottom: clamp(26px, 2.46vw, 40px);
        }
    }

    .tri-banner {
        flex-direction: row;
        gap: clamp(10px, 1.85vw, 30px);

        .tri-banner__secondary {
            gap: clamp(10px, 1.85vw, 30px);
        }
    }

    .loader-wrapper,.empty-wrapper {
        height: clamp(393px, 26.73vw, 433px);
    }

    .card-slider {
        padding-bottom: clamp(40px, 4.93vw, 80px);

        .card {
            flex-basis: clamp(210px, 60vw, 245px);
            &:not(:last-child) {
                margin-right: clamp(20px, 1.85vw, 30px);
            }
        }

        &::-webkit-scrollbar {
            height: 9px;
        }

        &::-webkit-scrollbar-track {
            padding: 3px 0;
        }
    }

    .card-slider-wrapper {
        position: relative;

        &::after {
            content: " ";
            display: block;
            box-sizing: border-box;
            position: absolute;
            right: -1px;
            top: 0;
            height: 345px;
            padding: 0 clamp(40px, 4.93vw, 80px);
            background: linear-gradient(to right, transparent, #2E083D);
        }
    }

    .header {
        padding: 0;

        .navigation {
            box-sizing: border-box;
            max-width: $container-max-width;
            margin: 0 auto;
            padding: 0 clamp(20px, 1.85vw, 30px);
            height: 75px;

            .logo-wrapper {
                img {
                    max-width: none;
                }
            }

            .nav-links {
                .link-text {
                    font-size: clamp(14px, 0.98vw, 16px);
                }
            }
        }
    }

    .main-content {
        padding: 0 20px;
    }

    .footer {
        padding-top: clamp(10px, 0.93vw, 15px);
        padding-bottom: clamp(26px, 4.01vw, 65px);

        .copyright {
            font-size: clamp(14px, 0.98vw, 16px);
        }
    }

    #hero-banner {
        padding: 0;
        margin: clamp(20px, 4.01vw, 65px) auto clamp(30px, 3.09vw, 50px);
    }
}

